.App {
  text-align: center;
}

.App-header {
  background-color: #2763db;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 15px;
}

.App-link {
  color: #61dafb;
}

div {
  margin-bottom: 15px;
  padding: 4px 12px;
}

button {
  padding: 4px 12px;
  margin: 4px;
  position: relative;
}

button[aria-label]:focus:after,
button[aria-label]:hover:after {
  position: absolute;
  z-index: 1;
  top: -2em;
  left: 0;
  display: block;
  overflow: hidden;
  height: 2em;
  border-radius: .2em;
  padding: 0 .7em;
  content: attr(aria-label);
  color: #fff;
  background: #000;
  font-size: 1em;
  line-height: 2em;
  text-align: left;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* On mouse-over, add a deeper shadow */
.textarea:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

dt,
dd {
  float: left;
  margin: 0;
  padding: 0;
}

dt {
  clear: both;
  font-weight: bold
}

dt span {
  display: inline-block;
  width: 120px;
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
  background-color: #ddffdd;
  border-left: 6px solid #04AA6D;
  text-align: left;
  font-size: 18px;
}

.card-note-clinician {
  text-align: left;
  font-size: 18px;
  background-color:#fff;
  padding: 20px;
}

.card-note-system {
  text-align: left;
  font-size: 18px;
  background-color: #ddffdd;
}

.form-add {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  transition: 0.3s;
  border-radius: 0px;
  /* 5px rounded corners */
  background-color: #ddfcff32;
  border-left: 6px solid #16252708;
}

.form-edit {
  flex-direction: column;
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  transition: 0.3s;
  border-radius: 0px;
  /* 5px rounded corners */
  background-color: #ddfcff32;
  border-left: 6px solid #16252708;
}

.note-info {
  display: flex;
  flex-direction: column;
  flex: 1;

}

.note-tools {
  text-align: right;
  margin-right: 10px;
}

/* On mouse-over, add a deeper shadow */
.card-note-clinician:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}