.App {
  text-align: center;
}

.App-header {
  background-color: #2763db;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 15px;
}

.App-link {
  color: #61dafb;
}

div {
  margin-bottom: 15px;
  padding: 4px 12px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: #ddffdd;
  border-left: 6px solid #04AA6D;
}

.addform {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  transition: 0.3s;
  border-radius: 0px; /* 5px rounded corners */
  background-color: #ddfcff32;
  border-left: 6px solid #16252708;
}

.noteDate {
  font-weight: bold;
}

.noteTools {
  text-align: right;
  margin-right: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}